body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 56px;
    line-height: 66px;
    color: #75B79E;
    padding: 40px 47px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;
    margin: 34px;
}

.card img {
    width: 100px;
    height: 100px;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid #99CEA8;
    background-color: #75B79E;
    background-image: url(../gifs/front.png);
    background-size: 100px 100px;
    background-position: center;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.verso {
    transform: rotateY(180deg);
    background-image: url(../gifs/bobrossparrot.gif);
}

.verso-rotate {
    transform: rotateY(0deg);
}

.frente-rotate{
    transform: rotateY(-180deg);
} 

@media (max-width: 480px) {
    header {
        font-size: 36px;
        line-height: 42px;
    }

    main {
        flex-direction: column;
        align-items: center;
    }
}